body {
    background-image: url(../images/triviabackground.jpg);
    background: contain;
    font-size: 24px;
    cursor: pointer;
}

p {
    font-size: 16px;
}

.display-image {
    width: auto;
    height: 200px;
}


.answer-display {
    font-size: 24px;
}

.jumbotron {
    background: #fff;
}

#display-question,
#answer-message,
#game-over-message,
#number-correct,
#number-incorrect,
#schwab-message {
    font-size: 24px;
}

#schwab-display {
    width: 100%;
    height: 450px;
    padding: 0px;
    margin: 0px;
}

#display-question {
    color: #8b0000;
}
#directions-text {
    font-size: 18px;
}

#answer-option:hover {
    background: #7fffd4;
}

@media screen and (max-width: 640px) {
    #schwab-display {
        width: 100%;
        height: 350px;
    }
}